
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "截图";

    var list = Model as List<ScreenShot>;
}

@section Styles{
    <link rel="stylesheet" href="/Content/css/magnific-popup.css">

}

@section Scripts{
    <script src="/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="/Content/js/magnific-popup-options.js"></script>
    <script>

        var page = 1;
        var pageCount=@ViewBag.Data.PageCount;

        $(window).scroll(
            function () {

                //console.log("滚动条到顶部的垂直高度: " + $(document).scrollTop());
                //console.log("页面的文档高度 ：" + $(document).height());
                //console.log('浏览器的高度：' + $(window).height());

                var scrollTop = $(this).scrollTop();
                var scrollHeight = $(document).height();
                var windowHeight = $(this).height();
                if (scrollTop > 1100) {
                    // 此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作

                    if(pageCount>page){
                        page++;
                        loadImage(page);
                    }
                }
            });

        // MagnificPopup
        var magnifPopup = function() {
            $('.image-popup').magnificPopup({
                type: 'image',
                removalDelay: 300,
                mainClass: 'mfp-with-zoom',
                gallery:{
                    enabled:true
                },
                zoom: {
                    enabled: true, // By default it's false, so don't forget to enable it

                    duration: 300, // duration of the effect, in milliseconds
                    easing: 'ease-in-out', // CSS transition easing function

                    // The "opener" function should return the element from which popup will be zoomed in
                    // and to which popup will be scaled down
                    // By defailt it looks for an image tag:
                    opener: function(openerElement) {
                        // openerElement is the element on which popup was initialized, in this case its <a> tag
                        // you don't need to add "opener" option if this code matches your needs, it's defailt one.
                        return openerElement.is('img') ? openerElement : openerElement.find('img');
                    }
                }
            });
        };

        function loadImage(page) {
            $.ajax({
                url:"/Screen/GetPagedPicList",
                type:"post",
                data:{page:page},
                success:function(json){
                    //console.log(json.Data);
                    var $panel=$("#PicPanel");
                    var html="";

                    for(var i=0;i<json.Data.length;i++){
                        html+="<div class='col-md-6 col-sm-6'>"+
                        "<div class='gallery-thumb'>"+
                        "<a href='"+json.Data[i].ImageUrl+"' title='"+json.Data[i].Title+"' class='image-popup'>"+
                        "<img src='"+json.Data[i].Thumbnail+"' class='img-responsive' alt='Gallery Image'>"+
                        "</a>"+
                        "</div>"+
                        "</div>";
                    }

                    $panel.append(html);

                    magnifPopup();
                }
            });
        }
    </script>
}

<!-- Home Section -->

<section id="home" class="main-gallery parallax-section">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1>一些回忆</h1>
            </div>
        </div>
    </div>
</section>

<!-- Gallery Section -->

<section id="gallery">
    <div class="container">
        <div class="row">

            <div id="PicPanel" class="col-md-offset-1 col-md-10 col-sm-12">
                <h2>风萧萧兮易水寒</h2>
                @*<p>Aliquam blandit velit nisi, sed fringilla felis lacinia sed. Integer vitae porta felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus non tristique lacus. Suspendisse ut tortor vitae risus lacinia tristique. Aliquam sed consectetur libero.</p>
                    <p>Morbi tellus dolor, porta dignissim enim sit amet, dapibus sagittis erat. In blandit elit sit amet dui aliquet congue nec vel quam. Integer id tristique libero.</p>*@
                <span></span>
                @foreach (var item in list)
                {
                    <div class="col-md-6 col-sm-6">
                        <div class="gallery-thumb">
                            <a href="@item.ImageUrl" title="@item.Title" class="image-popup">
                                <img src="@item.Thumbnail" class="img-responsive" alt="Gallery Image">
                            </a>
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>
</section>

