
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "首页";
}

<!-- 导航 -->
<ol class="breadcrumb hidden-xs">
    <li class="active">@ViewBag.Title</li>
</ol>

<h4 class="page-title">@ViewBag.Title</h4>

<hr class="whiter" />



