
@{
    Layout = null;
}

@section Styles{

}

@section Scripts{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Empty</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
